
body{
    background-color: rgb(232, 240, 243);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    width: 400px;
}
h2{
    text-align: center;
}
.form{
padding: 10px 20px;
}
.form-control{
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}
.form-control label{
    color: #777;
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}
.form-control input{
    border: 2px solid rgb(119, 114, 114);
    border-radius: 4px;
    display: block;
    width: 92%;
    padding: 10px;
    font-size: 12px;
}

.form-control small{
color:red;
font-size: small;
margin-bottom: 10px;

}

.button{
    cursor: pointer;
    background-color: #3498db;
    border: 2px solid    #3498db;
    border-radius: 4px;
    display: block;
    font-size: 16px;
    width: 100%;
    padding: 10px;
}

